<div class="row">
  <div class="col-md-12 col-md-offset-7">

    <div *ngIf="selectedTokens" class="row">
      <div class="col-sm-8">
        <ng-select [items]="availableTokenInfoes" [(ngModel)]="selectedTokens" multiple=true (change)="change()"></ng-select>
      </div>
      <div class="col-sm-4">
        <button (click)="selectAll()">Select all</button>
      </div>

      <!-- <label>
          <input type="checkbox" [checked]="selectedTokenInfoes[token] === true" [value]="token" (change)="changeToken(token, $event)"> {{token}}
        </label> -->
    </div>
  </div>
</div>
<div class="row top-buffer">
  <div class="col-sm-8">
    <h6>Unusual transactions with ERC-20 tokens</h6>

    <ngb-pagination *ngIf="pages" [maxSize]="4" [collectionSize]="collectionSize" [pageSize]="pageSize" [(page)]="page" (pageChange)="update()"
      [rotate]="true" [ellipses]="false" [boundaryLinks]="true" size="sm">
    </ngb-pagination>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Detection Date</th>
          <th scope="col">Event</th>
        </tr>
      </thead>
      <tr *ngFor="let e of triggerEvents">
        <td>{{e.date.content | date:'short'}}</td>
        <td>
          <a routerLink="/trigger-event-details/{{e.id}}">
            {{e.description}}
          </a>
        </td>
      </tr>
    </table>
    <ngb-pagination *ngIf="pages && pages > 1" [maxSize]="4" [collectionSize]="collectionSize" [pageSize]="pageSize" [(page)]="page"
      (pageChange)="update()" [rotate]="true" [ellipses]="false" [boundaryLinks]="true" size="sm">
    </ngb-pagination>
  </div>
  <div class="col-sm-4">
    <br><br>
    <h6>Statistics of past 7 days</h6>
    <table class="table">
      <thead>
        <tr>
          <th>Symbol</th>
          <th>Exchange withdraws</th>
          <th>Exchange deposits</th>
          <th># txns</th>
        </tr>
      </thead>
      <tr *ngFor="let e of txnSummary">
        <td>{{e._id.symbol}}</td>
        <td>{{e.exchange_out}} {{e._id.symbol}}</td>
        <td>{{e.exchange_in}} {{e._id.symbol}}</td>
        <td>{{e.txns}}</td>
      </tr>
    </table>
  </div>
</div>