<div class="text-justify">
  <h1>About Aphrozeus</h1>
  <p>What's the value of public data, if there are no possibilities to easily access it. The blockchain, tangle, hashgraph or
    whatever technology is used to transfer cryptocurrency is a place full of interesting information. All this data is publicly
    available, but only as bits and bytes. The mission of Aphrozeus is to transform these bits and bytes into an easily explorable
    format - and by exploring we don't just mean browsing through transaction histories.
  </p>
  <p>The first step of Aphrozeus is to enable you to observe transactional data and get alerted about important events on the
    blockchain in real-time. This can be crucial for trading decisions, risk management or monitoring. We call the functions
    that observe each action on the blockchain triggers and each one can raise an alarm. Up to now, these triggers are developed
    and maintained by us. But this is not supposed to stay like this...</p>
  <h2>Roadmap</h2>
  <p>The current triggers are maintained and developed by us, but we want to enable you to create and configure your own triggers
    so you don't miss any important information anymore. To enable this, we've the following elements on our roadmap:</p>
  <ul>
    <li>Custom trigger creation and configuration</li>
    <li>Support of different actions if a trigger found a match
      <ul>
        <li>Email</li>
        <li>SMS</li>
        <li>Chat Message</li>
        <li>Websocket</li>
        <li>Trading Bot</li>
        <li>...</li>
      </ul>
    </li>
    <li>Graph mining and machine learning to detect patterns and predict events</li>
    <li>Search engine for events and transactions</li>
  </ul>
  <h2>Donations</h2>
  <p>This project is running several servers for the following tasks:</p>
  <ul>
    <li>Ethereum blockchain synchronization</li>
    <li>Database</li>
    <li>Streaming processing infrastructure</li>
  </ul>
  <p>To be fast enough to process all events and deliver them to you in real-time we have to run three powerful servers. We're
    not earning a cent with this website and therefore each donation is extremely helpful for us to continue to run this
    website. So if you want to support this website, any amount helps us!</p>
  <dl class="row">
    <dt class="col-sm-2">Ethereum Address</dt>
    <dd class="col-sm-6 font-italic">0x388d8a868B725f8D52229195d96460b187b1da7E</dd>
  </dl>
</div>
