<div *ngIf="data">
	<h4>TRANSACTION Details</h4>
	<table class="paleBlueRows">
		<tr>
			<td>Trigger</td>
			<td>{{trigger.triggerId}}</td>
		</tr>
		<tr>
			<td>Description</td>
			<td>{{trigger.description}}</td>
		</tr>
		<tr>
			<td>Transaction</td>
			<td>{{data.transferMessage.transaction}}</td>
		</tr>
		<tr>
			<td>From</td>
			<td>{{data.transferMessage.from}}</td>
		</tr>
		<tr>
			<td>To</td>
			<td>{{data.transferMessage.to}}</td>
		</tr>
		<tr>
			<td>Amount</td>
			<td>{{(data.transferMessage.amount / this.Math.pow(10, data.tokenInfo.decimals)) | number:'1.0-100'}}
				{{data.tokenInfo.symbol}}
			</td>
		</tr>
		<tr>
			<td>Gas Price</td>
			<td>{{(data.transactionDetails.gasPrice / 1000000000) | number:'1.0-100'}} GWEI</td>
		</tr>
		<tr>
			<td>Date</td>
			<td>{{data.block.timestamp * 1000 | date:'full'}}</td>
		</tr>
		<tr>
			<td>Token</td>
			<td>{{data.tokenInfo.symbol}}</td>
		</tr>
	</table>
</div>
<div *ngIf="error">{{error}}</div>
<input type="button" (click)="cancel()" value="Return" class="btn btn-default">